*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #091c2e;
    font-size: 2.5em;
    font-weight: 900;
}
h4{
    font-size: 1rem;
    margin-bottom: 2rem;
}
p{
    font-size: 1.5em;
}
.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.right{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}
.container{
    max-width: 100%;
    height: 100vh;
    margin: 2rem auto;
}
.form{
    width: 80vw;
    background-color: #091c2e;
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
}
img{
    max-width:10rem;
    padding-right: 1rem;
    cursor: pointer;
}
form{
    margin: 2rem 8rem; 
}
.label{
    display: block;
}
input[type=text], input[type=number],select,input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: .5rem;
    cursor: pointer;
  }
.container-radio{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
 user-select: none;
}
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  } 
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container input:checked ~ .checkmark {
    background-color: #346cb5;
  }
  .checkmark-radio{
    border-radius: 50%;
} 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  .container-radio .checkmark-radio:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
} 
.container .checkmark-check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
 textarea{
    outline: none;
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
 }    
.btn{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    background-color: #346cb5;
    color: #ffffff;
    padding: .7rem 1.8rem;
    border-radius: .5rem;
    font-size: 1em;
    margin-bottom: 1rem;
}